.f-carousel {
    max-width: 500px;
    margin: 0 auto;
    /* margin-top: 20px; */
  }
  
  .f-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .f-carousel__slide img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  